header #main_menu {
/*border: 1px solid red;*/
    float: right;
}

header #top_logo {
    margin-top: 15px;
}

header #main_menu ul li{
    display: inline;
    margin: 0 60px 0 20px;
}

header #header_box {
/*border: 1px solid red;*/
    width:975px;
    height:150px;
    border-radius: 15px;
    font-size: 14px;
    color: #777777;
    background-color:#dbbfbf;
}

a:link{
    text-decoration: none;
    color:#444444;
}
a:hover{
    text-decoration:underline;
    color:#444444;
}