main #main_content{
/*border:1px solid red;*/
    text-align:center;
    width:976px;
    margin:20px 0 20px 0;
}
main #main_content ul li{
/*border:1px solid red;*/
    display:inline-block;
}

main #main_content p.line1{
    font-size:16px;
    margin-top:10px;
}
main #main_content p.line2{
    font-size:14px;
    margin-bottom:20px;
}